body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #212529;
}

header {
    background-color: #f1f1f1;
    color: #212529;
    padding: 1em;
    text-align: center;
}

header a {
    color: #61dafb;
    text-decoration: none;
}

.sidebar {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    margin-top: 15px;
}

.filter-group {
    margin-bottom: 20px;
}

.filter-group h5 {
    font-size: 1.1em;
    margin-bottom: 10px;
    color: #333;
}

.tag {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
    margin: 5px;
    display: inline-block;
    color: #fff;
}

.Episode-2 { background-color: #FF5733; }
.Episode-4 { background-color: #4ce668; }
.Episode-6 { background-color: #3357FF; }
.Full-episode { background-color: #FF33FF; }
.Song { background-color: #FFC300; }
.Photo { background-color: #00B894; }
.Video { background-color: #FF8C00; }
.Russian-subs {background-color: #ef7e87;}
.English-subs {background-color: #8700b8;}
.Fake { background-color: #C70039; }
.Other { background-color: #0072B2; }

/* Количество элементов в ряд (1-3) */
:root {
    --columns-count: 3;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(var(--columns-count), 1fr);
}

.item {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.item img, .item video {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.item h2 {
    margin: 10px;
    font-size: 1.2em;
}

.item p {
    margin: 10px;
    font-size: 0.9em;
    color: #555;
}

.tags {
    margin: 10px;
}

.btn-download {
    background-color: #282c34;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.9em;
    margin: 10px;
    display: inline-block;
    transition: transform 0.2s;
}

.btn-download:hover {
    background-color: #3e4351;
    color: #fff !important;
    transform: scale(1.03);
}

/* Темная тема */
.dark-theme {
    background-color: #121212;
    color: #f8f9fa;
}

.dark-theme header {
    background-color: #282c34;
    color: #fff;
}

.dark-theme .sidebar {
    background-color: #333;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.145);
    color: #f8f9fa;
}

.dark-theme .filter-group h5 {
    color: #ddd;
}

.dark-theme .item {
    background-color: #444;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.145);
}

.dark-theme .btn-download {
    background-color: #61cdfb;
    color: #121212;
}

.dark-theme .btn-download:hover {
    background-color: #53beec;
    color: #121212 !important;
    transform: scale(1.03);
}

.dark-theme .card-body h5{
    color: #f8f9fa;
}

.dark-theme .card-body p{
    color: #eeeeee;
}